<ul class="product-listing">
  
  <%= image_tag(product.image_url, class: 'list_image') %>

  <h4><%= product.title %></h4>
    <% unless product.price.nil? %>
        Price:<%= product.price %>
      <br/>
    <% end %>



  <p class="description" style="font-size: 13px; line-height:18px">
  	<%= product.description %>
  </p>

  Posted by <%=product.user.name %>
  <span class="timestamp">
    (<%=product.user.email %>)
  </span>

  <%= time_ago_in_words(product.created_at) %> ago.
  <--! <%= link_to 'contact', product, class: "btn " %> --><br/>

</ul>