

<div class= "product-form-div  product-form-closed">
    <%= form_for(@product, html: {class: "product-form-closed no-margin"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title, class: "product-form-closed" %>
      <%= f.text_field :title, class: "product-form-closed" %>

      <%= f.label :description, class: "product-form-closed" %>
      <%= f.text_area :description, class: "product-form-closed" %>


      <%= f.label :price, class: "product-form-closed" %>
      <%= f.text_field :price , class: "product-form-closed"%>


      <%= f.label :image_url, class: "product-form-closed" %>
      <%= f.text_field :image_url , class: "product-form-closed"%>


      <%= f.submit "Post to listings", class: "btn btn-large post-listing" %>
    <% end %>
</div>

<%= link_to "Add a listing", "#",
            class: "btn center-box show-product-form" %>
